<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouThoob</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div id="navbar">
        <div id="nav-left" class="nav-container">
            <button><i class="fa fa-bars nav-items"></i></button>
            <button>
                <img class="nav-items" src="img/yt-logo.png" alt="">
                <span class="nav-items">YouThoob</span>
            </button>
        </div>

        <div id="nav-center" class="nav-container">
            <input type="text" id="search-bar" class="nav-items" placeholder="Search">
            <button><i id="search-icon" class="fa fa-search nav-items"></i></button>
            <button><i id="voice-search" class="fa fa-microphone nav-items"></i></button>
        </div>

        <div id="nav-right" class="nav-container">
            <button><i class="fa fa-plus-square-o nav-items"></i></button>
            <button><i class="fa fa-bell-o nav-items"></i></button>
            <button><i class="fa fa-user-circle-o nav-items"></i></button>
        </div>
    </div>

    <div id="main-area">
        <div id="options-menu">
            <button><i class="fa fa-home"></i>Home</button>
            <button><i class="fa fa-compass"></i>Explore</button>
            <button><i class="fa fa-play-circle-o"></i>Shorts</button>
            <button><i class="fa fa-user-circle-o"></i>Subscriptions</button>
            <hr>
            <button><i class="fa fa-play"></i>Library</button>
            <button><i class="fa fa-history"></i>History</button>
            <button><i class="fa fa-video-camera"></i>Your videos</button>
            <button><i class="fa fa-clock-o"></i>Watch later</button>
            <button><i class="fa fa-thumbs-o-up"></i>Liked videos</button>
            <button><i class="fa fa-sort-desc"></i>Show more</button>
            <hr>
            <span style="font-size: large; padding-top: 15px;">Subscription</span>
            <button><i class="fa fa-user-circle-o"></i>CodeWithHarry</button>
            <button><i class="fa fa-user-circle-o"></i>Stack Overflow</button>
            <button><i class="fa fa-user-circle-o"></i>W3School</button>
            <button><i class="fa fa-user-circle-o"></i>PySquad</button>
            <hr>
            <span style="font-size: large;">Explore</span>
            <button><i class="fa fa-fire"></i>Trending</button>
            <button><i class="fa fa-shopping-bag"></i>Shopping</button>
            <button><i class="fa fa-music"></i>Music</button>
            <button><i class="fa fa-film"></i>Movies</button>
            <button><i class="fa fa-signal"></i>Live</button>
            <button><i class="fa fa-gamepad"></i>Gaming</button>
            <button><i class="fa fa-newspaper-o"></i>News</button>
            <button><i class="fa fa-trophy"></i>Sports</button>
            <button><i class="fa fa-lightbulb-o"></i>Learning</button>
            <button><i class="fa fa-male"></i>Fashion & Beauty</button>
            <hr>
            <span style="font-size: large;">More from YouThoob</span>
            <button><i class="fa fa-youtube-play"></i>YouThoob Premium</button>
            <button><i class="fa fa-youtube-square"></i>YouThoob Studio</button>
            <button><i class="fa fa-youtube-play"></i>YouThoob Music</button>
            <button><i class="fa fa-youtube"></i>YouThoob Kids</button>
            <hr>
            <button><i class="fa fa-cog"></i>Settings</button>
            <button><i class="fa fa-flag-o"></i>Report history</button>
            <button><i class="fa fa-question-circle"></i>Help</button>
            <button><i class="fa fa-exclamation-circle"></i>Send feedback</button>
            <hr>
            <p>About Press Copyright Contact us Creators Advertise Developers
                Terms Privacy Policy & Safety How YouTube works Test new features</p>
        </div>
        <div id="video-area">
            <div id="categories">
                <button>All</button>
                <button>Steve Harvey</button>
                <button>Bugatti</button>
                <button>Drag Race</button>
                <button>Family Feud</button>
                <button>Music</button>
                <button>Classical</button>
                <!-- <button>Steve Harvey</button>
                <button>Bugatti</button>
                <button>Drag Race</button>
                <button>Family Feud</button>
                <button>Music</button>
                <button>Classical</button>
                <button>Drag Race</button>
                <button>Family Feud</button>
                <button>Music</button>
                <button>Classical</button>
                <button>Drag Race</button>
                <button>Family Feud</button>
                <button>Music</button>
                <button>Classical</button>
                <button>Drag Race</button>
                <button>Family Feud</button>
                <button>Music</button>
                <button>Classical</button> -->
            </div>
            <div id="home-page-ad">
                <img src="img/main-ad.jpg" alt="Advertisement">
                <span>This is the main advertisement</span>
            </div>
            <div id="videos">
                <div>
                    <img src="img/video-1.jpg" alt="thumbnail">
                    <i class="fa fa-user-circle-o nav-items"></i>
                    <span>This is the title of the video</span>
                </div>
                <div>
                    <img src="img/video-2.jpg" alt="thumbnail">
                    <i class="fa fa-user-circle-o nav-items"></i>
                    <span>This is the title of the video</span>
                </div>
                <div>
                    <img src="img/video-3.jpg" alt="thumbnail">
                    <i class="fa fa-user-circle-o nav-items"></i>
                    <span>This is the title of the video</span>
                </div>
                <div>
                    <img src="img/video-4.jpg" alt="thumbnail">
                    <i class="fa fa-user-circle-o nav-items"></i>
                    <span>This is the title of the video</span>
                </div>
                <div>
                    <img src="img/video-5.jpg" alt="thumbnail">
                    <i class="fa fa-user-circle-o nav-items"></i>
                    <span>This is the title of the video</span>
                </div>
                <div>
                    <img src="img/video-6.jpg" alt="thumbnail">
                    <i class="fa fa-user-circle-o nav-items"></i>
                    <span>This is the title of the video</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/script.js"></script>

</html>